@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background: rgb(96 165 250);
  padding: 5px 10px;
  color: black;
  font-weight: 600 !important;
  border-radius: 25px;
  text-align: center;
  animation: move 1s ease-in-out infinite alternate;
}

a:hover {
  background: rgb(96 165 250);
  padding: 5px 10px;
  color: black;
  font-weight: 600 !important;
  border-radius: 25px;
  text-align: center;
  animation: move 1s ease-in-out infinite alternate;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
